certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Cors==3.0.10
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
nltk==3.6.2
pip-autoremove==0.9.1
regex==2021.7.1
requests==2.25.1
six==1.16.0
torch==1.9.0
tqdm==4.61.1
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
youtube-transcript-api==0.4.1
